.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.9em;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    margin: 32px auto 64px;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 1.1em;
        margin: 16px auto 40px;
    }
}