.cover__subtitle {
    margin: 32px auto 0;
    opacity: 1;
    text-align: center;
    max-width: 360px; 
    font-style: normal; 
    font-weight: 300; 
    font-size: 1.1em; 
    line-height: 1.22; 
    text-align: center;
    color: #ffffff; 
}
@media screen and (max-width: 1023px) {
    .cover__subtitle {
        font-size: 0.4em;
    }
}
@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: .5em;
        max-width: 200px; 
        margin-top: 10px;
    }
}