.footer__link {
    margin-right: 18px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.14;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.9;
}
.footer__link:hover {
    opacity: 0.8;
    transition: opacity .5s;
}
@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 1.5em;
    }
}