.place__paragraph  {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
    
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        font-size: 1em;
        margin: 0 16px;
    } 
}