.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0;
    opacity: 0.9;
    
}

@media screen and (max-width: 1279px) {
    .footer__copyright {
        font-size: 14px;
    }
}
