.cover__subtitle {
    max-width: 360px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.22;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);   
}
@media screen and (max-width: 1023px) {
    .cover__subtitle {
        font-size: 0.4;
        top: 65%; 
    }
}
@media screen and (max-width: 767px) {
    .cover__subtitle {
        left: 50%;
        top: 60%; 
        font-size: .5em;
    }
}