.cover__overlay {
    position: relative;
    display: block;
    padding: 80px 40px;
    box-sizing: border-box;
    z-index: 0;
    color: #fff;
    text-decoration: none;
    min-height: 720px;
}

.cover__overlay:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    opacity: 0.3;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
  }

  .cover__overlay:hover:before {
    opacity: 0.8;
  }

@media screen and (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px;
    }
}
@media screen and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}
@media screen and (max-width: 767px) {
    .cover__overlay {
        padding: 70px 40px;
        min-height: 200px;
    }
}