.cover__title {
    margin: 160px auto 0;
    text-align: center;
    opacity: 1;
    max-width: 510px; 
    font-style: normal; 
    font-weight: 900; 
    font-size: 72px; 
    line-height: 1.06; 
    color: #ffffff; 
}
@media screen and (max-width: 1023px) {
    .cover__title {
        margin-top: 70px;
        font-size: 50px;
    }
}
@media screen and (max-width: 767px) {
    .cover__title {
        margin-top: 0px;
        font-size: 32px;
        max-width: auto; 
        
    }
}